{{#each this}}
<li>
    <div class="movie-card">
        <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" width="280" data-id="{{id}}" class="movie-img">
        <div class="movie-card-details">
            <h2 class="movie-name">{{original_title}}</h2>
            <div class="movie-genre">
                <ul>
                    {{#each genre_ids}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
                &#10072; <span class="film-year"> {{release_date}}</span>
                <span class="vote"> {{vote_average}}</span>
            </div>
        </div>
    </div>
</li>
{{/each}} 